.menu_items::-webkit-scrollbar,  .items-left::-webkit-scrollbar, .rightNavMembers::-webkit-scrollbar, .items-right-center-bottom::-webkit-scrollbar {
    display: none;
}
 
.chat-wrapper  img{
    cursor: pointer;
    margin: 5px;
}
.avatar-peopel{
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    height: 60px;
} 


.items-right-center-bottom::-webkit-scrollbar, .items-right-left-bottom::-webkit-scrollbar, .users::-webkit-scrollbar, .cards::-webkit-scrollbar , .blocks::-webkit-scrollbar{
     width: 7px;
}
.items-right-center-bottom::-webkit-scrollbar-track, .items-right-left-bottom::-webkit-scrollbar-track, .users::-webkit-scrollbar-track, .cards::-webkit-scrollbar-track ,.blocks::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    padding: 10px;
}
.items-right-center-bottom::-webkit-scrollbar-thumb, .items-right-left-bottom::-webkit-scrollbar-thumb ,.cards::-webkit-scrollbar-thumb, .blocks::-webkit-scrollbar-thumb {
    background: rgba(160, 160, 160, 0.536); 
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

 
.items-input-message::placeholder{
    color: white;
    font-size: 14px;
    font-weight: lighter;
}
.send-message-icon:hover{
    transition: ease-in-out 0.3s;
    scale: 1.4;
    transform: translateX(2px);
}
 

.items-left{
    width: 100px;
}

.cards{
    height: 310px;
    overflow-y: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: hidden;
    gap: 20px;
}
 .item-card-bottom{
    margin: 0px 10px;
 }
 
.list_filter>li{
    font-size: 17px;
    cursor: pointer;
    border-right: 2px solid rgba(160, 160, 160, 0.536);
    padding-right: 25px;
    margin: 15px;
}
 
@media screen and (max-width: 1768px) {
 
    .items-iconMenuOpen-1{
        display: none !important;
    }
 
    .chat-wrapper {
         justify-content: center !important;
    }
    .avatar{
        margin-bottom: 10px !important;
    }
    .items-right-bottom {
        margin-top: 40px !important;
    }
    .item-card-bottom button {
        margin-bottom: 10px;
    }
    .menu_items {
        align-items: start !important;
        width:  50% !important;
    }
  
    .cards{
         grid-template-columns: repeat(2, 1fr) !important;
    }
    .items-right-bottom{
        padding: 10px !important;
    }
    .item-card-bottom{
        margin: 0px 10px;
     }
}

 

@media screen and (max-width: 1280px){
    .items-user-name{
        font-size: 20px !important;
    }
    .items-user-desc{
        font-size: 8px !important;
    }
 
    .items-right-bottom-messages-info > div{
       font-size: 12px !important;
    }
    /* part 1 */
    .items_user{
       display: none !important;
       width: max-content !important;
    }
    .rightNav{
        flex: 0 !important;
    }
    .rightNavTopMem{
       display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    .chat-wrapper {
       width: 100% !important;
    }
    .items-left{
        display: none   !important; 
    }
    .items-right-top>h1 {
        padding: 12px   !important;
        font-size: 40px !important;
    }
    .items-right-top-search {
        width: 530px !important;
        height: 50px !important;
    } 
     .items-right-bottom>h1 {
        font-size: 30px !important;
    }
    .items-iconMenuOpen {
       left: 14px !important;
    }
    .filter{
       justify-content: space-evenly;
    }

}

 
@media screen and (max-width: 850px) {
    
    .itmes-right-left-1 {
        width: max-content !important;
    }
    .items-right-center-top > span{
        display: none !important;
    }
    .items-right-center-top{
        height:60px !important;
    }
    .items-right-left-top{
        height:60px !important;
    }
    .members{
        display: none !important;
    }
    .items-users{
        display: none !important;
    }
    .items-right-left-top-wrapper{
        background-color:transparent !important;
    }
    .filter{
        gap:0px !important;
    }
    .list_filter>li{
        font-size: 13px !important;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr) !important; 
    }
}

@media screen and (max-width: 640px) {
    .chat-container {
        width: max-content !important;
    }
    .item-card-bottom {
        width: 340px !important;
        margin: 0px 10px !important;
    }
    .items-right-top>h1 {
        font-size: 30px !important;
        width: 100% !important;
         display: flex !important;
        text-align: center  !important;
    }
    .items-right-bottom>h1 {
        font-size: 25px !important;
    }
    .items-right-top-search {
        width: 300px !important;
        height: 30px !important;
    }
    .items-right-top-search>img {
        width: 20px !important;
    }
    .title-1 {
        font-size: 25px !important;
    }
    .desc-1 {
        font-size: 15px !important;
    }
    .number-1 {
        font-size: 25px !important;
    }
    .title-2 {
        font-size: 14px !important;
    }
    .avatar-general{
        width: 70px !important;
        height: 70px !important;
    }
    .button-join{
        width: 100px !important;
        height: 35px !important;
        font-size: 13px !important;
    }
    .menu_items {
        align-items: start !important;
        width:  100% !important;
    }

    /* part 1 */
   .rightNav{
         display: none !important;
   }
    .items-text{
        font-size: 13px !important;
        word-break: break-all !important;
    }
    .items-iconMenuOpen-1{
        display: flex !important;
    }
    .center-text-desc{
        font-size: 8px !important;
    }
    .btn-message{
        padding: 0px  !important;
    }
    .items-input-message{
        border-radius:  0px !important;
        border : 0px !important;
        background: transparent !important;
        text-align: start !important;
     }
    .items-bottom-message-items > img{
        display: flex !important; 
    }
    .items-bottom-details{
        display: flex !important;
    }

    .filter{
        flex-direction: column !important;
        border: 0px !important;
        gap: 10px !important;
    }
    .list_filter>li{
        font-size: 15px !important;
        padding-right: 18px !important;
        margin: 10px !important;
    }
    .icon{
        width: 30px !important;
        height: 25px !important;
    }
    
    .filters_count{
        font-size: 13px;
    }
    .name{
        font-size: 15px !important;
    }
    .status{
        font-size: 10px !important;
    }
}


/* Animation part */
.items-left{
    transition: 0.51s ease-in-out;
}

.items-right{
     animation: itemsright 0.5s ease-in-out;
}

.right-1{
    animation: itemsright 0.5s ease-in-out;
}
 

@keyframes itemsright {
    0% {
        transform: translateX(5%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
         opacity: 1;
    } 
}