.menu_items::-webkit-scrollbar,  .items-left::-webkit-scrollbar, .rightNavMembers::-webkit-scrollbar, .items-right-center-bottom::-webkit-scrollbar {
    display: none;
}
 
.chat-wrapper  img{
    cursor: pointer;
    margin: 5px;
}
.avatar-peopel{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

 
.items-input-message::placeholder{
    color: white;
    font-size: 14px;
    font-weight: lighter;
}
.send-message-icon:hover{
    transition: ease-in-out 0.3s;
    scale: 1.4;
    transform: translateX(2px);
}
 

.items-left{
    width: 100px;
}

.title_items{
    /* display: none; */
}





@media screen and (max-width: 1768px) {
    .chat-root{
        height:auto !important;
    }
    .chat-container {
        width: max-content !important;
        height: max-content !important;
    }
    .chat-wrapper {
         justify-content: center !important;
    }
    .avatar{
        margin-bottom: 10px !important;
    }
    .cards {
        flex-direction: column !important;
        gap: 30px !important;
    }
    .items-right-top {
        margin-top: 50px !important;
        background-color: transparent !important;
    }
    .items-right-bottom {
        margin-top: 40px !important;
    }
    .item-card-bottom button {
        margin-bottom: 10px;
    }
    .menu_items {
        align-items: start !important;
        width:  50% !important;
    }
    .items-right-top>h1 {
        font-size: 48px !important;
        margin:0px 10px !important;
    }

    .items-right-top-search {
        width: 500px !important;
    }
    /* part message */
}

 

@media screen and (max-width: 1365px) {
    /* part-0 */
    .items-right-bottom>h1 {
        font-size: 30px !important;
    }

    .items-right-top-search {
        width: 430px !important;
    }
 
    /* part-1 */
 
}

@media screen and (max-width: 1280px){
    .items-user-name{
        font-size: 20px !important;
    }
    .items-user-desc{
        font-size: 8px !important;
    }
 
    .items-right-bottom-messages-info > div{
       font-size: 12px !important;
    }
    /* part 1 */
    .items_user{
       display: none !important;
       width: max-content !important;
    }
    .rightNav{
        flex: 0 !important;
    }
    .rightNavTopMem{
       display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    .chat-wrapper {
       width: 100% !important;
    }
    .items-left{
        display: none   !important; 
    }
    .items-right-top>h1 {
        padding: 12px   !important;
        font-size: 40px !important;
    }
    .items-iconMenuOpen {
       left: 14px !important;
    }

}

@media screen and (max-width: 850px) {
    .itmes-right-left-1 {
        width: max-content !important;
    }
    .items-right-center-top > span{
        display: none !important;
    }
    .items-right-center-top{
        height:60px !important;
    }
    .items-right-left-top{
        height:60px !important;
    }
    .members{
        display: none !important;
    }
    .items-users{
        display: none !important;
    }
    .items-right-left-top-wrapper{
        background-color:transparent !important;
    }

 
    
}

@media screen and (max-width: 640px) {
    .chat-container {
        width: max-content !important;
    }
    .item-card-bottom {
        width: 340px !important;
        margin: 0px 10px !important;
    }
    .items-right-top>h1 {
        font-size: 30px !important;
        width: 100% !important;
         display: flex !important;
        text-align: center  !important;
    }
    .items-right-bottom>h1 {
        font-size: 25px !important;
    }
    .items-right-top-search {
        width: 300px !important;
        height: 30px !important;
    }
    .items-right-top-search>img {
        width: 20px !important;
    }
    .title-1 {
        font-size: 25px !important;
    }
    .desc-1 {
        font-size: 15px !important;
    }
    .number-1 {
        font-size: 25px !important;
    }
    .title-2 {
        font-size: 14px !important;
    }
    .avatar-general{
        width: 70px !important;
        height: 70px !important;
    }
    .button-join{
        width: 100px !important;
        height: 35px !important;
        font-size: 13px !important;
    }
    .menu_items {
        align-items: start !important;
        width:  100% !important;
    }

    /* part 1 */
   .rightNav{
         display: none !important;
   }
    .items-text{
        font-size: 13px !important;
        word-break: break-all !important;
    }
    .items-iconMenuOpen-1{
        display: flex !important;
    }
    .center-text-desc{
        font-size: 8px !important;
    }
    .btn-message{
        padding: 0px  !important;
    }
    .items-input-message{
        border-radius:  0px !important;
        border : 0px !important;
        background: transparent !important;
        text-align: start !important;
     }
    .items-bottom-message-items > img{
        display: flex !important; 
    }
    .items-bottom-details{
        display: flex !important;
    }
}



/* Animation part */


.items-left{
    transition: 0.51s ease-in-out;
}

.items-right{
     animation: itemsright 0.5s ease-in-out;
}

.right-1{
    animation: itemsright 0.5s ease-in-out;
}


@keyframes itemsright {
    0% {
        transform: translateX(5%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
         opacity: 1;
    }
    
}