#game-container *,
#game-container ::before,
#game-container ::after {
	margin: 0;
	padding: 0;
}

#game-container {
	/* background-color: green; */
	max-height: max-content;
	width: 100%;
	max-width: 1280px;
	display: grid !important;
	grid-template-columns: 1fr 1fr; /* Define the width of columns */
	grid-template-rows: minmax(auto, max-content) minmax(auto, max-content); /* Define the width of columns */
	grid-template-areas:
		"game	game"
		"specs	specs";
	border-radius: 3em;
	overflow: hidden;
}

#game-container h1,
#game-container h2,
#game-container p {
	text-align: center;
	margin: 1rem 0;
}

#game-container img {
	width: 100%;
	height: 100%;
}

#game {
	grid-area: game;
	aspect-ratio: 16 / 9; /* To keep an aspect ratio of 16:9 */
	/* set max as HD */
	max-width: 1280px;
	max-height: 720px;
	background: linear-gradient(#32398d, #9a5ba4, #868586);
}

#game-container .game-info {
	flex: 1 1 100%;
	grid-area: specs;
	display: grid;
	grid-template-columns: 2fr 1.5fr 2fr;
	align-items: center;
	background-color: #313131;
	padding: 0 3.5em;
	padding-bottom: 2em;
	color: #fff;
}

.player-info {
	/* background-color: pink; */
}

/* added # to increase priority */
#game-container .specs-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #fff2;
	border-radius: 5em;
	overflow: hidden;
	padding: 1.5em 0;
}

.spec {
	background: initial;
	border: initial;
	aspect-ratio: 1;
	max-height: 2em;
	transition: opacity .2s ease-in-out;
}

.spec:hover {
	opacity: .8;
}

.spec.disabled {
	opacity: .2;
}

.score * {
	text-shadow: 0px 0px 4px #fff;
}

.score > p {
	font-size: 2rem;
}

.score #leave {
	display: block;
	background: initial;
	border: initial;
	border-radius: 50%;
	padding: 1em;
	background-color: #fff2;
	margin: 0 auto;
	opacity: .5;
	transition: opacity .2s ease-in-out;
}

.score #leave:hover {
	opacity: 1;
}

.score #leave img {
	max-height: 2rem;
}
