#game-container *,
#game-container ::before,
#game-container ::after {
	margin: 0;
	padding: 0;
}

#game-container {
	/* background-color: green; */
	min-height: 70vh;
	width: 100%;
	max-width: 1280px;
	display: grid !important;
	grid-template-columns: 1fr 1fr; /* Define the width of columns */
	grid-template-areas:
		"game	game"
		"specs	score";
}

#game {
	grid-area: game;
	aspect-ratio: 16 / 9; /* To keep an aspect ratio of 16:9 */
	/* set max as HD */
	max-width: 1280px;
	max-height: 720px;
	background-color: gray;
}
	
#special-abilities {
	grid-area: specs;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: yellow; */
}

#special-abilities > * {
	/* background-color: pink; */
	flex: 1 1 auto;
	margin-right: 1em;
}

.ability {
	background: linear-gradient(#2e2aae, #d946a3);
	padding: 1em;
	border: .3em solid #fff;
	border-radius: 1em;
	padding: 1em;
	aspect-ratio: 1;
}

.ability:active {
	text-indent: .1em;
}

.ability:hover svg {
	transform: translateY(-.3rem);
	fill: yellow;
}

.ability svg {
	position: relative;
	fill: #fff;
	height: 100%;
	width: 100%;
	max-height: 5rem;
	transition: transform .2s ease-in-out, fill .2s ease-in-out;
}

#scorePannel {
	color: #000;
	grid-area: score;
	background-color: #ffffff5c;
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	padding: 1em;
}

#scorePannel h2,
#scorePannel p {
	text-align: center;
}

#scorePannel > div {
	flex-grow: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr;
	/* background-color: #030; */
	align-items: center;
}

.score {
	font-size: 3rem;
}

.score + .score {
	border-left: 1px solid #000;
}