@media screen and (max-width: 576px){
    .dynamic-fill {
        width: 100%;
    }
    .btn-retro {
        width: 90px;
        height: 45px;
    }
    .btn-retro::before {
        top: -2px;
        left: -2px;
        width: calc(90px * 1.02);
        height: calc(90px * 0.50);
        border-radius: 22px;
    }
    .fs-d {
        font-size: 1.2rem;
    }
    #MainSectionRacket {
        width: 200px;
        display: none;
    }
    #MainSectionContent {
        width: 400px;
    }
    .rp_title {
        font-size: 80px; 
    }
    .rp_desc {
        font-size: 50px;
        width: 100vw;
    }
    .header-font {
        font-size: 40px;
    }
    .login-card {
        width: 100%;
        border-radius: 0 !important;
        border-width: 0px;
        border-style: none;
        box-shadow: none;
    }
    .login-card::before {
        /* display: none; */
        border-radius: 0;
        box-shadow: none;
    }
    .rl_header {
        font-size: 64px !important;
        margin: 0 !important;
    }
    .desktop-dashboard-card-bg {
        width: 100%;
    }
    .desktop-dashboard-card-bg::before {
        display: none;
    }
    .bg-photo {
        width: 576px;
    }
    .btn-retro-d {
        width: 75% !important;
    }
    .btn-retro-d::before {
        display: none;
    }
    .container-fluid {
        padding: 0 !important;
    }
    .info-container {
        border: 2px 2px 0 0;
        border-radius: 0 !important;
    }
    .acc_stats_holder {
        justify-content: space-evenly;
        align-items: center;
    }
    .info-card:nth-child(2), .info-card:nth-child(3) {
        margin-top: 1.5rem;
    }
    .settings_card {
        width: 100% !important;
        border-radius: 0 !important;
    }
    .tfa {
        width: 100% !important;
        border-radius: 0 !important;
    }
    form {
        width: 100% !important;
    }
    .prompt-width {
        width: 100% !important;
        text-align: center !important;
    }
    .form-control {
        width: 80% !important;
    }
    label {
        text-align: center;
    }
    .mainTitle {
        font-size: 25vw;
    }
    .acc-stats {
        width: 80%;
    }
    .resize_mid {
        padding-left:0 !important;
        padding-right:0 !important;
        padding-bottom: 3rem !important;
        justify-content: center ;
    }
    #Chart {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width: 768px){
    .dynamic-fill {
        width: 100%;
    }
    .btn-retro {
        width: 100px;
        height: 40px;
    }
    .btn-retro::before {
        top: -1px;
        left: -1px;
        width: 102%;
        height: 103%;
        border-radius: 20px;
    }
    .fs-d {
        font-size: 1rem;
    }
    #MainSectionRacket {
        width: 275px;
    }
    #MainSectionContent {
        width: 500px;
    }
    .rp_title {
        font-size: 25px;
    }
    .rp_desc {
        font-size: 25px;
    }
    .header-font {
        font-size: 60px;
    }
    .desktop-dashboard-card-bg {
        width: calc(1024px * 0.9);
    }
    .bg-photo {
        width: calc(768px * 0.9);
    }
    .acc-stats {
        margin-top: 2.5rem;
        inset: 0;
    }
    .info-card {
        background-size: contain;
    }
    .acc_stats_holder {
        justify-content: space-evenly;
        align-items: center;
    }
    .info-card {
        margin-top: 1.5rem;
    }
    .prompt-width {
        width: 100% !important;
        text-align: center !important;
    }
    .form-control {
        width: 280px !important;
    }
    .resize_mid {
        justify-content: center;
    }
    .main-stats-container {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .dynamic-fill {
        width: 100%;
    }
    #desc {
        order: 1;
        text-align: center;
        flex: 2;
    }
    .btn-retro {
        width: 120px;
        height: 50px;
    }
    .btn-retro::before {
        top: -1.5px;
        left: -1px;
        width: 102%;
        height: 100%;
        border-radius: 25px;
    }
    .fs-d {
        font-size: 1.3rem;
    }
    #MainSectionRacket {
        width: 450px;
    }
    #MainSectionContent {
        width: 50%;
    }
    .rp_title {
        font-size: 96px;
    }
    .rp_desc {
        font-size: 56px;
    }
    .header-font {
        font-size: 80px;
    }
    .desktop-dashboard-card-bg {
        width: calc(1024px * 0.9);
    }
    .bg-photo {
        width: calc(1024px * 0.9);
    }
    .resize_mid {
        justify-content: center;
    }
    .main-stats-container {
        width: 370px;
    }
    .info-card:nth-child(3) {
        margin-top: 1.5rem;
    }
    .main-stats-container {
        width: 100%;
    }
}

@media screen and (min-width: 1025px){
    .dynamic-fill {
        width: 100%;
    }
    .btn-retro {
        width: 120px;
        height: 50px;
    }
    .btn-retro::before {
        top: -1.5px;
        left: -1px;
        width: 102%;
        height: 100%;
        border-radius: 25px;
    }
    .fs-d {
        font-size: 1.3rem;
    }
    #MainSectionRacket {
        width: 450px;
    }
    #MainSectionContent {
        width: 50%;
    }
    .rp_title {
        font-size: 96px;
    }
    .rp_desc {
        font-size: 56px;
    }
    .header-font {
        font-size: 80px;
    }
    .desktop-dashboard-card-bg {
        width: calc(1024px * 0.9);
    }
    .bg-photo {
        width: calc(1024px * 0.9);
    }
    #RacketLogin {
        display: none;
    }
    .resize_mid {
        justify-content: center;
    }
    .main-stats-container {
        width: 100%;
    }
}

@media screen and (min-width: 1440px){
    .btn-retro {
        width: 150px;
        height: 60px;
    }
    .btn-retro::before {
            top: -2px;
            left: -3px;
            width: 104%;
            height: 105%;
            border-radius: 25px;
    }
    .fs-d {
        font-size: 1.75rem;
    }
    #MainSectionRacket {
        width: 800px;
    }
    #MainSectionContent {
        width: 50%;
    }
    .header-font {
        font-size: 128px;
    }
    .rp_title {
        font-size: 8rem;
    }
    .rp_desc {
        font-size: 5rem;
    }
    .header-font {
        font-size: 192px;
    }
    .desktop-dashboard-card-bg {
        width: calc(100vh * 0.9);
        height: 100%;
    }
    .bg-photo {
        width: calc(1024px * 0.9);
    }
    #RacketLogin {
        display: block;
    }
    #ChartMark {
        width: 370px !important;
    }
    .main-stats-container {
        width: 370px;
    }
}