.container{
    width: 100%;
    color: white;
    background: linear-gradient(127.14deg, rgba(0, 0, 0, 0.6075) 69.14%, rgba(240, 128, 242, 0.75) 100%);
    display: flex;
    flex-direction: column;
    min-width: 1320px;
}
.Tmenu{
    width: 100%;
    height: 50px;
}

.Titems{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #D9D9D91A;

}

.Titem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #D9D9D90D;
    height: 100%;
    width: 180px;
    cursor: pointer;
}
.Titem:first-child{
    background: #FFFFFF40;
    box-shadow: 0px 0px 4px 0px #FFFFFF40;
}

.Tlogo{
    width: 20px;
    height: 20px;
}



.Tcontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.Tcontent h1{
    font-family: Nokora;
    font-size: 48px;
    font-weight: 400;
    line-height: 63.45px;
    text-align: left;
    
}

.Tdetails{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Tdetail{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D91A;
    width: 168px;
    height: 50px;
    border-radius: 15px;
    gap: 13px;
}

.TtextDetails{
    font-family: Nokora;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.5px;
    text-align: center;

}   

.Trules{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.Twrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #D9D9D91A;
    width: 524px;
    height: 450px;
    border-radius: 25px;
    opacity: 0px;
}

.TdetailRules{
    width: 350px;
    height: 50px;
    border-radius: 25px;
    opacity: 0px;
    background: #D9D9D926;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.Twrapper h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 37.01px;
    text-align: center;
}

.Tul{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    margin-top: 24px;
}

.Tul li{
    font-family: Nokora;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.79px;
    text-align: left;
}

.Tglacie{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.Tglacie img{
    width: 416px;
    height: 48px;
}

.Tournament{
    display: block;
}

.Tclasses{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   gap: 100px;
   display: none;
}


/* T0 */
.round-0{
    display: flex;
    justify-content: center;
}
.square{
    width: 80px;
    height: 80px;
    border: 3px solid #E2DC5A;
    border-radius: 15px;
    overflow: hidden;
}

.round-1{
    display: flex;
    justify-content: center;
}

.wrap-1{
    display: flex;
    justify-content: center;
    gap: 550px;
}


.round-2{
    display: flex;
    justify-content: center;
}

.wrap-2{
    display: flex;
    gap: 240px;
}


.round-3{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.wrap-3{
    display: flex;
    gap: 80px;
}


.hr0{
    position: absolute;
    border: 1px solid #ffffff;
    height: 137px;
    top: 165px;
}
.hr1{
    position: absolute;
    border: 1px solid #ffffff;
    width: 550px;
    top: 302px;
}

.hr2{
    position: absolute;
    border: 1px solid #ffffff;
    height: 140px;
    top: 345px;
    left: 340px;
}

.hr3{
    position: absolute;
    border: 1px solid #ffffff;
    height: 140px;
    top: 345px;
    right: 340px;
}

.hr4{
    position: absolute;
    border: 1px solid #ffffff;
    width: 240px;
    top: 485px;
    right: 215px;
}

.hr5{
    position: absolute;
    border: 1px solid #ffffff;
    width: 240px;
    top: 485px;
    left: 215px;
}

.hr6{
    position: absolute;
    border: 1px solid #ffffff;
    height: 140px;
    top: 525px;
    left: 172px;
}
.hr7{
    position: absolute;
    border: 1px solid #ffffff;
    height: 140px;
    top: 525px;
    left: 495px;
}

.hr8{
    position: absolute;
    border: 1px solid #ffffff;
    height: 140px;
    top: 525px;
    right: 495px;
}

.hr9{
    position: absolute;
    border: 1px solid #ffffff;
    height: 140px;
    top: 525px;
    right: 172px;
}

.hr10{
    position: absolute;
    border: 1px solid #ffffff;
    width: 82px;
    top: 665px;
    left: 135px;
}

.hr11{
    position: absolute;
    border: 1px solid #ffffff;
    width: 82px;
    top: 665px;
    left: 135px;
}

.hr12{
    position: absolute;
    border: 1px solid #ffffff;
    width: 82px;
    top: 665px;
    left: 455px;
}

.hr13{
    position: absolute;
    border: 1px solid #ffffff;
    width: 82px;
    top: 665px;
    right: 135px;
}

.hr14{
    position: absolute;
    border: 1px solid #ffffff;
    width: 82px;
    top: 665px;
    right: 455px;
}
