# DATABASE INFO

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# JWT INFO
SECRET_KEY=

# 42 API INFO
CLIENT_ID=
SECRET_ID=

# MAIL API INFO - WORKS ONLY WITH MAILGUN
EMAIL_API_KEY=
RP_EMAIL=

# SERVER INFO
HOST_ADDRESS = 
AUTH_PORT = 
USERMGR_PORT = 
GAME_PORT = 
CHAT_PORT = 