{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<title>Pong Game JavaScript</title>
</head>
<body>
	<div id="container"><canvas id="pong" tabindex="0"></canvas></div>
	<script type="module" src="{% static 'socket.js' %}"></script>
	<script type="module" src="{% static 'index.js' %}"></script>
	<!-- The below is for testing only -->
	<!-- The button below would send a socket to the server of type "join" -->
	<!-- The server will look for a room avaiable -->
	<button id="join-game" class="main-btn">Join a game</button>
	<button id="leave-game" class="main-btn red">Leave game</button>
</body>
</html>