<div class="d-flex flex-column align-items-center justify-content-center rounded-4 main-stats-container">
    <h5 id="ChartTitle" class="text-pink-gradient taprom fw-lighter fs-3 ">Match Statistics</h5>
    <figure class="d-flex align-items-center justify-content-center" style="height:200px;">
        <div id="GradeContainer" class="d-flex flex-column justify-content-evenly" style="height: 200px;">
            <!-- <div class="grade justify-content-end nokora fw-light m-0">100</div>
            <div class="grade justify-content-end nokora fw-light m-0">80</div>
            <div class="grade justify-content-end nokora fw-light m-0">60</div>
            <div class="grade justify-content-end nokora fw-light m-0">40</div>
            <div class="grade justify-content-end nokora fw-light m-0">20</div>
            <div class="grade justify-content-end nokora fw-light m-0">0</div> -->
        </div>
        <div class="d-flex flex-column">
            <div id="BarStatsContainer" class="border-start d-flex justify-content-evenly align-items-end stats-chart-container">
                <!-- <div class="bg-pink border-top border-start border-end rounded-top-1" style="width: 25px; height: 37.5px;"></div>
                <div class="bg-pink border-top border-start border-end rounded-top-1" style="width: 25px; height: 45px;"></div>
                <div class="bg-pink border-top border-start border-end rounded-top-1" style="width: 25px; height: 150px;"></div>
                <div class="bg-pink border-top border-start border-end rounded-top-1" style="width: 25px; height: 120px;"></div> -->
            </div>
            <div id="DatesContainer" class="d-flex justify-content-evenly align-items-end w-100">
                <!-- <p class="nokora text-white fw-light m-0">25/04</p>
                <p class="nokora text-white fw-light m-0">25/04</p>
                <p class="nokora text-white fw-light m-0">25/04</p>
                <p class="nokora text-white fw-light m-0">25/04</p> -->
            </div>
        </div>
    </figure>
</div>


<!-- 
    25 Match = 25 * 180 / 120 = 37.5px
    30 Match = 30 * 180 / 120 = 45px
    100 Match = 100 * 180 / 120 = 150px
    80 Match = 80 * 180 / 120 = 99px
 -->