<div id="Chart" class="d-flex flex-column align-items-center justify-content-center rounded-4 main-stats-container border-transparent-0-5">
    <h5 id="ChartTitle" class="text-pink-gradient taprom fw-lighter fs-3 ">Match Statistics</h5>
    <figure class="d-flex align-items-center justify-content-center">
        <div id="GradeContainer" class="d-flex flex-column justify-content-evenly" style="height: 200px;">
        </div>
        <div class="d-flex flex-column">
            <div id="BarStatsContainer" class="border-start d-flex justify-content-evenly align-items-end stats-chart-container">
            </div>
            <div id="DatesContainer" class="d-flex justify-content-evenly align-items-end w-100">
            </div>
        </div>
    </figure>
</div>
 